{% extends 'base.html.twig' %}

{% block body %}
    <h1>Produit « {{ product.name }} »</h1>
    <h2>
        Seulement
        <big>{{ product.euroPrice }}€</big>
    </h2>
    <img src="/uploads/{{ product.image }}" />
    <p>
        {{ product.description | raw }}
    </p>

    <h3>Commentaires</h3>
    <ul>
        {% for comment in product.comments %}
            <li>
                <h4>{{ comment.author }}</h4>
                <p>
                    {{ comment.comment }}
                </p>
            </li>
        {% else %}
            <li>Pas de commentaires</li>
        {% endfor %}
    </ul>

    <h3>Nouveau commentaire</h3>
    {{ form(comment_form) }}
{% endblock %}

