<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}

        <link rel="stylesheet" href="{{ asset('build/js/app.css') }}">
    </head>
    <body>
        <header>
            {{ render(controller('App\\Controller\\HomepageController:showCategoriesAction')) }}
            <a href="{{ path('homepage') }}">Accueil</a>
            <a href="{{ path('products') }}">Produits</a>
        </header>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        <script src="{{ asset('build/js/app.js') }}" async></script>
    </body>
</html>
